# OS
.DS_Store
Thumbs.db

# Node
node_modules/
dist/
bundle/
.vite/
.parcel-cache/

# Python
__pycache__/
*.py[cod]
*$py.class

# virtual env
.venv/
venv/
ENV/
**/.venv/

# packaging
*.egg-info/

# logs
*.log
.anna/

# IDE
.vscode/
.idea/